/**
 * Main stylesheet for Tank Anarchy.
 * Author: Alvin Lin (alvin@omgimanerd.tech)
 */

html, body {
  width: 100%;
  text-align: center;

  user-select: none;
}

#name-prompt-overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(49, 49, 49, 0.5);
  z-index: 1;

  #name-prompt-container {
    position: absolute;
    width: 490px;
    height: 100px;

    top: 50%;
    right: 0;
    left: 0;

    margin: -50px auto;
    padding: 30px;
    background: #bbb;
    z-index: 2;

    border-radius: 10px;

    input, input:focus {
      outline: none;
    }

    #name-submit:hover {
      cursor: pointer;
    }
  }
}

#container {
  table {
    margin: auto;
    border-collapse: separate;
  }
}

#leaderboard-container {
  width: 200px;
  height: 600px;
  border: 1px solid black;

  h3 {
    height: 50px;
    padding: 5px;
  }

  #leaderboard {
    height: 400px;
    margin: 0;
    padding: 5px;

    li {
      list-style-type: none;
      background-color: #b9b9b9;
      margin-right: 5px;
      padding: 3px;

      border-radius: 2px;
    }
  }
}

#canvas-container {
  border: 1px solid black;
  padding: 0;

  #canvas {
    width: 800px;
    height: 600px;
    margin: 0;
    outline: none;

    background-color: #fff;
    cursor: crosshair;
  }
}

#chat-container {
  width: 200px;
  height: 596px;
  padding: 0;
  border: 1px solid black;

  #chat-display {
    height: 570px;
    padding: 0;
    margin: 0;
    text-align: left;
    overflow-y: scroll;

    li {
      list-style-type: none;
      padding: 5px;
    }

    li:nth-child(even) {
      background: #ccc;
    }

    li:nth-child(odd) {
      background: #aaa;
    }

    .notification {
      font-weight: bold;
      color: #b30000;
      padding: 6px;
    }
  }

  #chat-input {
    box-sizing: border-box;

    width: 100%;
    height: 30px;
    padding: 5px;
    border-top: 1px solid black;
  }
}

#icons-container > div {
  display: inline-block;
}
