<!DOCTYPE html>
<html>
  <head>
    <title>Tank Anarchy</title>
    <link rel='icon' type='image/png' href='/client/img/favicon.png' />
    <link rel='stylesheet' type='text/css' href='/dist/main.bundle.css' />
  </head>

  <body oncontextmenu='return false;'>
    <div id='name-prompt-overlay'>
      <div id='name-prompt-container'>
        <form id='name-form'>
          <input type='text' id='name-input' placeholder='Nickname'
            autocomplete='off' />
          <button id='name-submit'>
            Play
          </button>
        </form>
      </div>
    </div>

    <div id='container'>
      <table>
        <tr>
          <th colspan='3'>
            <h1>Tank Anarchy</h1>
          </th>
        </tr>
        <tr>
          <td id='leaderboard-container'>
            <h3>Leaderboard:</h3>
            <ul id='leaderboard'></ul>
          </td>
          <td id='canvas-container'>
            <canvas id='canvas'></canvas>
          </td>
          <td id='chat-container'>
            <ul id='chat-display'>
            </ul>
            <input id='chat-input' type='text'
              placeholder='Press Enter to send' name='chat' />
          </td>
        </tr>
        <tr>
          <td id='icons-container' colspan='3'>
            <div>
              <img src='/client/img/favicon.png' />
              <div>Your Tank</div>
            </div>
            <div>
              <img src='/client/img/healthpack_powerup.png' />
              <div>Healthpack Powerup</div>
            </div>
            <div>
              <img src='/client/img/rapidfire_powerup.png' />
              <div>Rapidfire Powerup</div>
            </div>
            <div>
              <img src='/client/img/shield_powerup.png' />
              <div>Shield Powerup</div>
            </div>
            <div>
              <img src='/client/img/shotgun_powerup.png' />
              <div>Shotgun Powerup</div>
            </div>
            <div>
              <img src='/client/img/speedboost_powerup.png' />
              <div>Speedbost Powerup</div>
            </div>
          </td>
        </tr>
      </table>
      <div id='copyright'>
        &copy; 2015 Alvin Lin and Kenneth Li. All Rights Reserved.
      </div>
    </div>

    <script src='/dist/client.bundle.js'></script>
  </body>
</html>
