{% extends 'layout.html' %}

{% block head %}
  <script src="/socket.io/socket.io.js">
  </script>
  <script src='/static/dist/game-minified.js'>
  </script>
{% endblock %}

{% block body %}
  <div id='name-prompt-overlay'>
    <div id='name-prompt-container'>
      <form id='name-form'>
        <div class='input-group'>
          <input type='text'
                 class='form-control'
                 id='name-input'
                 placeholder='Nickname'
                 autocomplete='off' />
          <span class='input-group-addon'
                id='name-submit'>
            Play
          </span>
        </div>
      </form>
    </div>
  </div>

  <div id='container'>
    <table id='content'>
      <tr>
        <td colspan='3'>
          <h1>
            Tank Anarchy
          </h1>
        </td>
      </tr>
      <tr>
        <td>
          WASD to move
          <br />
          Click to shoot
          <br />
        </td>
        <td>
          <!--
          TODO: Add kill announcement message.
          <Player> was slain by <Player>.
          -->
          <canvas id='canvas'>
          </canvas>
        </td>
        <td>
          <h3>
            Leaderboard:
          </h3>
          <ul id='leaderboard'>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan='3'>
          <ul id='chat-display'>
          </ul>
          <br />
          <input id='chat-input' type='text' name='chat' />
          <button id='chat-button' type='button'>Send</button>
        </td>
      </tr>
    </table>
    <div id='copyright'>
      &copy; 2015 Alvin Lin and Kenneth Li. All Rights Reserved.
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src='/static/dist/client-minified.js'>
  </script>
{% endblock %}
