<!DOCTYPE html>
<html>
  <head>
    <title>Tank Anarchy</title>
    <link rel='icon' type='image/png' href='/public/img/favicon.png' />
    <link rel='stylesheet'
      href='/public/bower/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet'
      href='/public/dist/minified.css' />

    <script src='/public/bower/jquery/dist/jquery.min.js'>
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body oncontextmenu='return false;'>
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
