<!DOCTYPE html>
<html>
  <head>
    <title>Tank Anarchy</title>
    <link rel='icon'
          type='image/png'
          href='/static/img/favicon.png' />
    <link href='/bower_components/bootstrap/dist/css/bootstrap.min.css'
          rel='stylesheet' />
    <link href='/static/css/styles.css' rel='stylesheet' />

    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body oncontextmenu='return false;'>
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
